.component {
  display: flex;
  flex-direction: column; /* Display icons vertically */
  align-items: center; /* Center icons horizontally */
  height: 100%;
}

.icon {
  font-size: 24px; /* Adjust the size of the icons as needed */
  margin-bottom: 8px; /* Add some bottom margin between icons */
}